<div layout="row">
  <div style="color: #333; padding: 1px 5px 10px 5px; margin: 0px; background-color: #f5f5f5" layout="column">
    <div style="width: 220px" ng-hide="hide_side_panel">
      <div layout="row">
        <div style="cursor: pointer" ng-click="hide_side_panel=true">
          <md-tooltip>Collapse options panel</md-tooltip>
          <i class="atm-back-button fa fa-angle-double-left"></i>
        </div>
        <div flex></div>
        <div style="text-align: center">
          <span class='atm-back-button fa-stack' style="width: 25px; margin: 0px; padding: 0px" ng-click="wfFilterCtrl.setPreFilter(null)">
            <md-tooltip md-direction="right">Show all request</md-tooltip>
            <i class='fa fa-filter fa-stack-1x' style="width: 25px; font-size: 18px"></i>
            <i class='fa fa-ban fa-stack-1x' style="width: 25px; margin-left: -1px; margin-top: -1px; font-size: 25px; color: #88898b"></i>
          </span>
        </div>
      </div>
      <div>
        <label>Preset Filters</label>
        <md-select ng-model="wfFilterCtrl.selectedFilter" ng-change="wfFilterCtrl.setPreFilter(wfFilterCtrl.selectedFilter)" placeholder="Select a filter" class="atm-md-select-small">
          <md-option ng-value="filter" ng-repeat="filter in wfFilterCtrl.prefilters">{{filter.label}}</md-option>
        </md-select>
      </div>
      <div style="margin: 10px 5px">
        <div style="margin-bottom: 5px">Type</div>
        <div layout="row" layout-wrap>
          <md-checkbox ng-repeat="type in wfFilterCtrl.workflowTypes" ng-model="typeSelected[state.key]"
            style="font-size: 12px"
            ng-checked="!wfFilterCtrl.filter.type || wfFilterCtrl.filter.type.indexOf(type.key) >= 0"
            ng-click="wfFilterCtrl.toggleCheckbox('type', type.key)" aria-label="type.label" class="atm-checkbox">
            {{type.label}}
          </md-checkbox>
        </div>
      </div>
      <md-divider></md-divider>
      <div style="margin: 10px 5px">
        <div style="margin-bottom: 5px">Status</div>
        <div layout="row">
          <md-checkbox ng-model="openSelected" style="font-size: 12px"
            ng-checked="!wfFilterCtrl.filter.status || wfFilterCtrl.filter.status.indexOf('open') >= 0"
            ng-click="wfFilterCtrl.toggleCheckbox('status', 'open')" aria-label="Open" class="atm-checkbox">
            Open
          </md-checkbox>
          <md-checkbox ng-model="closedSelected" style="font-size: 12px"
            ng-checked="!wfFilterCtrl.filter.status || wfFilterCtrl.filter.status.indexOf('closed') >= 0"
            ng-click="wfFilterCtrl.toggleCheckbox('status', 'closed')" aria-label="Closed" class="atm-checkbox">
            Closed
          </md-checkbox>
        </div>
      </div>
      <md-divider></md-divider>
      <div style="margin: 10px 5px">
        <div style="margin-bottom: 5px">State</div>
        <div layout="row" layout-wrap>
          <md-checkbox ng-repeat="state in wfFilterCtrl.workflowStates" ng-model="stateSelected[state.key]"
            style="font-size: 12px"
            ng-checked="!wfFilterCtrl.filter.state || wfFilterCtrl.filter.state.indexOf(state.key) >= 0"
            ng-click="wfFilterCtrl.toggleCheckbox('state', state.key)" aria-label="state.label" class="atm-checkbox">
            {{state.label}}
          </md-checkbox>
        </div>
      </div>
      <md-divider></md-divider>
      <div style="margin: 10px 5px">
        <div style="margin-bottom: 5px">Created By</div>
        <md-select ng-model="wfFilterCtrl.filter.creator" ng-change="wfFilterCtrl.onChange('creator')" placeholder="Select User" class="atm-md-select-small">
          <md-option ng-value="createdUser" ng-repeat="createdUser in wfFilterCtrl.usersService.getUsers() | orderBy: 'name'">{{createdUser.name}}</md-option>
        </md-select>
      </div>
      <div style="margin: 10px 5px">
        <div style="margin-bottom: 5px">Assigned To</div>
        <md-select ng-model="wfFilterCtrl.filter.assignee" ng-change="wfFilterCtrl.onChange('assignee')"  placeholder="Select User" class="atm-md-select-small">
          <md-option ng-value="assignedUser" ng-repeat="assignedUser in wfFilterCtrl.usersService.getUsers() | orderBy: 'name'">{{assignedUser.name}}</md-option>
        </md-select>
      </div>
    </div>
    <div ng-show="hide_side_panel">
      <div ng-click="hide_side_panel=false">
        <md-tooltip md-direction="right">Show detailed options</md-tooltip>
        <i class="atm-back-button fa fa-angle-double-right"></i>
      </div>
      <div style="text-align: center">
        <span class='atm-back-button fa-stack' style="width: 25px; margin: 0px; padding: 0px" ng-click="wfFilterCtrl.setPreFilter(null)">
          <md-tooltip md-direction="right">Show all requests</md-tooltip>
          <i class='fa fa-filter fa-stack-1x' style="width: 25px; font-size: 18px"></i>
          <i class='fa fa-ban fa-stack-1x' style="width: 25px; margin-left: -1px; margin-top: -1px; font-size: 25px; color: #88898b"></i>
        </span>
      </div>
      <div>
        <md-menu>
          <md-button aria-label=""  style="margin: 0px; padding: 0px; width: 30px" class="md-icon-button atm-back-button" ng-click="wfFilterCtrl.openMenu($mdMenu, $event)">
            <md-tooltip md-direction="right">Filter based on type of request</md-tooltip>
            <i class="fa fa-tags"></i>
          </md-button>
          <md-menu-content class="atm-menu-content">
            <md-menu-item class="atm-menu-item" ng-repeat="(key, type) in wfFilterCtrl.workflowTypes">
              <div layout="row" layout-align="left">
                <md-button md-prevent-menu-close aria-label="type.label" ng-click="wfFilterCtrl.toggleCheckbox('type', type.key)" class="atm-menu-item-button">{{type.label}}</md-button>
                <div flex></div>
                <div style="width: 20px" ng-show="!wfFilterCtrl.filter.type || wfFilterCtrl.filter.type.indexOf(type.key) >= 0"><i class="fa fa-check"></i></div>
              </div>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
      <div>
        <md-menu>
          <md-button style="margin: 0px; padding: 0px; width: 30px" aria-label="" class="md-icon-button atm-back-button" ng-click="wfFilterCtrl.openMenu($mdMenu, $event)">
            <md-tooltip md-direction="right">Filter based on status (open/closed)</md-tooltip>
            <i class="fa fa-circle-o-notch"></i>
          </md-button>
          <md-menu-content class="atm-menu-content">
            <md-menu-item>
              <div layout="row" layout-align="left">
                <md-button md-prevent-menu-close aria-label="Open" ng-click="wfFilterCtrl.toggleCheckbox('status', 'open')" class="atm-menu-item-button">Open</md-button>
                <div flex></div>
                <div style="width: 20px" ng-show="!wfFilterCtrl.filter.status || wfFilterCtrl.filter.status.indexOf('open') >= 0"><i class="fa fa-check"></i></div>
              </div>
            </md-menu-item>
            <md-menu-item>
              <div layout="row" layout-align="left">
                <md-button md-prevent-menu-close aria-label="Closed" ng-click="wfFilterCtrl.toggleCheckbox('status', 'closed')" class="atm-menu-item-button">Closed</md-button>
                <div flex></div>
                <div style="width: 20px" ng-show="!wfFilterCtrl.filter.status || wfFilterCtrl.filter.status.indexOf('closed') >= 0"><i class="fa fa-check"></i></div>
              </div>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
      <div>
        <md-menu>
          <md-button aria-label=""  style="margin: 0px; padding: 0px; width: 30px" class="md-icon-button atm-back-button" ng-click="wfFilterCtrl.openMenu($mdMenu, $event)">
            <md-tooltip md-direction="right">Filter based on state</md-tooltip>
            <i class="fa fa-filter"></i>
          </md-button>
          <md-menu-content class="atm-menu-content">
            <md-menu-item class="atm-menu-item" ng-repeat="state in wfFilterCtrl.workflowStates">
              <div layout="row" layout-align="left">
                <md-button md-prevent-menu-close aria-label="state.label" ng-click="wfFilterCtrl.toggleCheckbox('state', state.key)" class="atm-menu-item-button">{{state.label}}</md-button>
                <div flex></div>
                <div style="width: 20px" ng-show="!wfFilterCtrl.filter.state || wfFilterCtrl.filter.state.indexOf(state.key) >= 0"><i class="fa fa-check"></i></div>
              </div>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
      <div>
        <md-menu width="4">
          <md-button aria-label=""  style="margin: 0px; padding: 0px; width: 30px" class="md-icon-button atm-back-button" ng-click="wfFilterCtrl.openMenu($mdMenu, $event)">
            <md-tooltip md-direction="right">Filter based on creator</md-tooltip>
            <i class="fa fa-user-circle-o"></i>
          </md-button>
          <md-menu-content class="atm-menu-content" style="min-height: 300px" width="4">
            <md-menu-item class="atm-menu-item">
              <div style="margin: 10px 5px">
                <div style="margin-bottom: 5px">Created By</div>
                <md-select ng-model="wfFilterCtrl.filter.creator" ng-change="wfFilterCtrl.onChange('creator')" placeholder="Select User" class="atm-md-select-small">
                  <md-option ng-value="createdUser" ng-repeat="createdUser in wfFilterCtrl.usersService.getUsers() | orderBy: 'name'">{{createdUser.name}}</md-option>
                </md-select>
              </div>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
      <div>
        <md-menu width="4">
          <md-button aria-label=""  style="margin: 0px; padding: 0px; width: 30px" class="md-icon-button atm-back-button" ng-click="wfFilterCtrl.openMenu($mdMenu, $event)">
            <md-tooltip md-direction="right">Filter based on assignee</md-tooltip>
            <i class="fa fa-vcard-o"></i>
          </md-button>
          <md-menu-content class="atm-menu-content" style="min-height: 300px" width="4">
            <md-menu-item class="atm-menu-item">
              <div style="margin: 10px 5px">
                <div style="margin-bottom: 5px">Assigned To</div>
                <md-select ng-model="wfFilterCtrl.filter.assignee" ng-change="wfFilterCtrl.onChange('assignee')" placeholder="Select User" class="atm-md-select-small">
                  <md-option ng-value="assignedUser" ng-repeat="assignedUser in wfFilterCtrl.usersService.getUsers() | orderBy: 'name'">{{assignedUser.name}}</md-option>
                </md-select>
              </div>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
      <!-- <div>
        <md-tooltip md-direction="right">Show open items by me</md-tooltip>
        <i class="atm-back-button fa fa-envelope-open-o"></i>
      </div>
      <div>
        <md-tooltip md-direction="right">Show closed items by me</md-tooltip>
        <i class="atm-back-button fa fa-envelope-o"></i>
      </div>
      <div>
        <md-tooltip md-direction="right">Show open items assigned to me</md-tooltip>
        <i class="atm-back-button fa fa-id-card-o"></i>
      </div>
      <div>
        <md-tooltip md-direction="right">Show closed items assigned to me</md-tooltip>
        <span class='atm-back-button fa-stack' style="width: 25px; margin: 0px 0px 0px 5px; padding: 0px">
          <md-tooltip md-direction="right">Show closed items assigned to me</md-tooltip>
          <i class='fa fa-id-card-o fa-stack-1x' style="width: 25px; font-size: 15px"></i>
          <i class='fa fa-circle-thin fa-stack-1x' style="width: 25px; margin-left: 0px; margin-top: -1px; font-size: 30px; color: #88898b"></i>
        </span>
      </div>
      <div>
        <md-tooltip md-direction="right">Show closed items assigned to me</md-tooltip>
        <span class='atm-back-button fa-stack' style="width: 25px; margin: 0px 0px 0px 5px; padding: 0px">
          <md-tooltip md-direction="right">Show closed items assigned to me</md-tooltip>
          <i class='fa fa-id-card-o fa-stack-1x' style="width: 25px; font-size: 15px"></i>
          <i class='fa fa-circle-thin fa-stack-1x' style="width: 25px; margin-left: 0px; margin-top: -1px; font-size: 30px; color: #88898b"></i>
        </span>
      </div> -->
    </div>
  </div>
  <md-divider></md-divider>
  <div ui-view="all" style="width: 100%" ng-show="wfFilterCtrl.ifStateIncludes('root.workflows.all')"></div>
  <div ui-view="workflow" style="width: 100%" ng-show="wfFilterCtrl.ifStateIncludes('root.workflows.workflow')"></div>
</div>
