<div>
  <header style="z-index: 10">
    <div layout="row"
      style="background-size: cover;
        background-position: center center;
        height: 535px;
        background-image: url(images/VirtualVaultBannerFinal.png)">
      <div style="padding: 25px 15px">
        <img src="images/VirtualVaultLogoSideWhite.png"></img>
      </div>
      <div flex></div>
      <div style="padding: 15px 15px"><md-button class="atm-button" ng-click="loginCtrl.openLoginDialog($event)">Login</md-button></div>
    </div>
    <div layout="row" headroom offset="50">
      <div>
        <img src="images/VirtualVaultLogoSideWhite.png"></img>
      </div>
      <div flex></div>
      <div><md-button class="atm-button" ng-click="loginCtrl.openLoginDialog($event)">Login</md-button></div>
    </div>
  </header>
  <section style="text-align: center; padding-top: 100px; font-size: 18px; font-family: 'PT Serif', sans-serif; color: #7E7E7E;    font-style: italic;">
    VirtualVault is a secure asset management solution, custom designed for financial and manufacturing organizations.
  </section>
  <section style="text-align: center; padding-top: 50px; font-size: 22px; color: #ec715d; text-transform: uppercase; font-weight: 800; line-height: 30px; font-family: 'Raleway', sans-serif;">
    A PLATFORM FOR INTER BRANCH ASSET SHARING.
    <br>HELPS BUDGETING, FORECASTING AND DEPRECIATION CALCULATIONS.
  </section>
  <div style="text-align: center; padding-top: 40px"><div class="double-border"></div></div>
  <div layout="row" layout-align="space-around" layout-wrap style="font-family: 'Open Sans', sans-serif; padding: 30px 15px">
    <div flex></div>
    <div flex-gt-md="25" flex-sm="50" flex-lt-sm="100" layout="row">
      <div><i class="fa fa-bullseye" style="color: #ec715d; font-size: 50px"></i></div>
      <div style="padding-left: 30px; padding-right: 15px">
        <h3 style="color: #58595b; font-size: 16px; text-transform: uppercase; font-weight: bold; margin-bottom: 19px">Our Mission</h3>
        <p style="font-size: 14px; color: #989898; line-height: 24px;">
          Build fascinating products and applications using innovative ideas, engineering excellence and state of the art technologies for connecting the world of products, people, services and systems.
        </p>
      </div>
    </div>
    <div flex-gt-md="25" flex-sm="50" flex-lt-sm="100" layout="row">
      <div><i class="fa fa-binoculars" style="color: #ec715d; font-size: 50px"></i></div>
      <div style="padding-left: 30px; padding-right: 15px">
        <h3 style="color: #58595b; font-size: 16px; text-transform: uppercase; font-weight: bold; margin-bottom: 19px">Our Vision</h3>
        <p style="font-size: 14px; color: #989898; line-height: 24px;">
Inspire and enrich the human interactions with the complex world by simplifying, streamlining, sculpting and sophisticating interconnected systems.
        </p>
      </div>
    </div>
    <div flex-gt-md="25" flex-sm="50" flex-lt-sm="100" layout="row">
      <div><i class="fa fa-bank" style="color: #ec715d; font-size: 50px"></i></div>
      <div style="padding-left: 30px">
        <h3 style="color: #58595b; font-size: 16px; text-transform: uppercase; font-weight: bold; margin-bottom: 19px">Our History</h3>
        <p style="font-size: 14px; color: #989898; line-height: 24px;">
  We have a track record of founding multiple successful companies in consumer and enterprise verticals encompassing mobile, networking infrastructure, healthcare and agri businesses.
      </div>
    </div>
    <div flex></div>
  </div>
  <div layout="row" layout-align="space-around" layout-wrap style="background-color: #F3F3F3; font-family: 'Open Sans', sans-serif">
    <div flex></div>
    <div flex-gt-md="25" hide-md hide-sm hide-xl><img src="images/VirtualVaultWebImage.png"></img></div>
    <div flex="50" style="padding-left: 70px; padding-top: 15px">
      <h3 style="color: #ec715d; font-size: 24px; font-weight: 500">VirtualVault stores its data in the cloud and allows users to access and share relevant data based on their role as an administrator, branch manager, employee etc.</h3>
      <div style="text-align: center; padding-top: 10px"><div class="double-border"></div></div>
      <p style="font-size: 16px; color: #989898; line-height: 24px;">
        VirtualVault helps track history of an asset, such as Asset request date, purchase price, commissioned date, usage information. Forecast asset needs based on past usage to help budgetize for the future. Run Analytics to identify misuse of equipment etc.
      </p>
      <p style="font-size: 16px; color: #989898; line-height: 24px;">
      Provides convenient access to view pending requests and its approval states. Set reminders and notifications for requests. Generate reports for tracking and compliance. Compare different branches based on utilization and much more.
      </p>
      <div style="background-color: #ffffff; margin-top: 32px; padding: 30px" layout="row">
        <img src="images/VVFavicon96x96.png"></img>
        <p style="font-size: 16px; color: #989898; line-height: 24px;">
VirtualVault helps manage needs of a specific branch with ease. Convenient way to view past usage of any asset and its history. Sending electronic request of new as well as existing assets in a single click. It eliminates time consuming paperwork with electronic tracking.        </p>
      </div>
    </div>
    <div flex></div>
  </div>
  <div layout="row" layout-align="space-around" layout-wrap style="padding-top: 100px; padding-bottom: 50px; font-family: 'Open Sans', sans-serif">
    <div flex></div>
    <div layout="column" flex-gt-md="70" flex-md="80" flex-sm="100" flex-xl="100">
      <div style="font-size: 18px; font-family: 'PT Serif', sans-serif; color: #7E7E7E; font-style: italic">Financial & Manufacturing</div>
      <h2 style="color: #ec715d; font-size: 22px; line-height: 30px; font-weight: 800; font-family: 'Raleway', sans-serif; margin: 5px 0px">SOLUTIONS AT ALL LEVELS</h2>
      <div class="double-border"></div>
      <div layout="row">
        <div>
          <h3 style="color: #242424; font-size: 22px; font-style: italic; font-family: 'Open Sans', sans-serif; margin: 25px 0px; font-weight: 500">Financial</h3>
          <p style="color: #898989; font-size: 14px; font-family: 'Open Sans', sans-serif; line-height: 26px;">
            VirtualVault is a secure platform for tracking key inventory items. It facilitates sharing assets between branches and departments. It integrates with the organization’s existing policies and schedules. It provides a single pane of window to manage things, identify shortfalls and make better decisions about ordering. System generates usage level analytics and calculates depreciation of assets for better planning of resources.
          </p>
          <h3 style="color: #242424; font-size: 22px; font-style: italic; font-family: 'Open Sans', sans-serif; margin: 25px 0px; font-weight: 500">Manufacturing</h3>
          <p style="color: #898989; font-size: 14px; font-family: 'Open Sans', sans-serif; line-height: 26px;">
VirtualVault acts as an IOE platform to store the telemetry data of the devices being tracked in a secure manner over the public cloud. It helps reassign equipment based on the usage.          </p>
        </div>
        <div flex="50" style="padding-left: 20px">
          <div layout="row">
            <div layout="column" style="padding-right: 30px">
              <img style="padding-bottom: 30px" src="images/Nuviso---Enterprise-pic-1-ATM.png"></img>
              <img src="images/Nuviso---Enterprise-pic-2-ATM.png"></img>
            </div>
            <img src="images/Nuviso---Enterprise---pic-3-ATM.png"></img>
          </div>
        </div>
      </div>
    </div>
    <div flex></div>
  </div>
  <footer style="padding: 60px; 0px; background-color: #1d1d1d; font-family: 'Open Sans', sans-serif;">
    <div layout="row" layout-align="space-around">
      <div flex></div>
      <div flex-gt-md="40" flex-sm="40" flex-xs="50">
        <div style="font-size: 24px; color: #ffffff; font-weight: 500">Contact</div>
        <a style="text-decoration: none" href="https://www.google.com/maps/place/691+S+Milpitas+Blvd+%23210,+Milpitas,+CA+95035/@37.4208175,-121.8953383,17z/data=!3m1!4b1!4m5!3m4!1s0x808fcecf27121939:0x9f70270deb1f3ae7!8m2!3d37.4208133!4d-121.8931496">
          <p style="color: #868686; text-decoration: none; font-size: 14px">691 S Milpitas Blvd, #210, Milpitas, CA 95035<br> United States</p>
  			</a>
        <a style="text-decoration: none" href="https://www.google.com/maps/place/174,+19th+Main+Rd,+Sector+4,+HSR+Layout,+Bengaluru,+Karnataka+560102,+India/data=!4m2!3m1!1s0x3bae1485b471bc3f:0xa90c9ab0d9a6c0a1?sa=X&amp;ved=0ahUKEwjOgtm7hO_OAhXFPiYKHeLtB1wQ8gEIIDAA">
          <p style="color: #868686; text-decoration: none; font-size: 14px">#174, 1st Floor, 19th Main Rd, Sector 4, HSR Layout<br> Bengaluru, Karnataka 560102,India</p>
  			</a>
      </div>
      <div flex-gt-md="40" flex-sm="40" flex-xs="50" layout="row">
        <div flex></div>
        <div>
          <div style="color: #868686; text-decoration: none; font-size: 14px">Powered By</div>
          <a href="http://www.inforesoftware.com" style="text-decoration: none; font-size: 24px; color: #ffffff; font-weight: 500">Infore Systems, Inc</a>
          <a href="mailto: info@inforesoftware.com" style="padding-left: 10px; text-decoration: none; font-size: 24px; color: #ffffff; font-weight: 500"><i class="fa fa-envelope"></i></a>
        </div>
      </div>
      <div flex></div>
    </div>
    <div style="text-align: center; border-top: 1px solid #343434; padding: 26px 0; color: #868686; text-decoration: none; font-size: 14px">Copyright © Infore Systems 2017. All rights reserved.</div>
  </footer>
</div>
